# linguist settings tuto : https://medium.com/@bolajiayodeji/introducing-github-linguist-8f09273ddea1
# linguist doc : https://linguist.readthedocs.io/en/latest/
# linguist repo : https://github.com/github/linguist

# Jupyter Notebook wrongly counted
*.ipynb linguist-documentation
